@import "reset";

//Colors
$strongBlue: #375a7f;
$blue: #4d7cae;
$lightBlue: #6a99cb;
$yellow: #fcfa70;
$white: #fff;
$base: #f7f7f7;
$black: #000;

.app{
    color: $white;
    min-height: 100vh;
    line-height: 1.4em;
    background-color: $base;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    //If you don't put the names between a '' mark the grid will be in the same row
    //Template area is used to define specific areas
    grid-template-areas: 'header' 'navigation' 'main' 'aside' 'footer';

    &__header{
        background-color: $strongBlue;
        //grid-area specify the area of the element, this is according the areas defined before
        grid-area: header;        
    }

    &__aside{
        background-color: $lightBlue;
        grid-area: aside;
    }

    &__nav{
        background-color: $yellow;
        grid-area: navigation;
    }

    
    &__main{
        background-color: $base;
        color: $black;
        grid-area: main;
    }

    &__footer{
        background-color: $yellow;
        color: $black;
        grid-area: footer;
    }

    &__items{

    }

    &__item{

    }


    &__title{

    }

    &__text{

    }
}

.app > * {
    padding: 1rem;
}

@media screen and (min-width: 64em){
    .app{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 'header header header' 
                            'navigation main aside' 
                            '. main .' 
                            'footer footer footer';
    }
}