@import "reset";

//Colors
$pink: hsl(330, 100%, 50%);
$orange: hsl(30, 100%, 50%);
$black: rgba(0,0,0,0.3);
$grey: rgba(255, 255, 255, 0.2);
$white: #fff;

body{
    min-height: 100vh;
    display: flex;
    background: linear-gradient(-45deg, $pink, $orange);
}
.calendar{
    width: 90%;
    margin: auto;
    max-width: 500px;
    color: $white;

    &__header{
        background-color: rgba(0,0,0,0.3);
    }

    &__week, &__dates{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 4px;
    }

    &__month{
        text-align: center;
        line-height: 1;
        font-size: 2em;

        &::after, &::before{
            text-align: center;
        }
        &::after{
            content: ">"
        }
        &::before{
            content: "<"
        }
    }

    &__week{        
        background-color: $black;
    }
    &__item{
        line-height: 2;
        text-align: center;
    }
    &__date{
        background-color: $grey;
    }

    /*In case that the first day of a month doesn't start in Sunday 
    just replace the number for the number of the day when the month starts
    */
    &__date:first-child{
        grid-column: 4;
    }
}