@import "reset";

//Colors
$strongBlue: #375a7f;
$blue: #4d7cae;
$lightBlue: #6a99cb;
$yellow: #fcfa70;
$white: #fff;
$base: #f7f7f7;
$black: #000;

.point{
    width: 20px;
    height: 20px;
    background-color: $black;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

.dice{
    width: 120px;
    height: 120px;
    border: 1px solid $strongBlue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

//Mapping the points

.p1{
    grid-area: 1 / 1;
}

.p2{
    grid-area: 1 / 2;
}

.p3{
    grid-area: 1 / 3;
}

.p4{
    grid-area: 2 / 1;
}

.p5{
    grid-area: 2 / 2;
}

.p6{
    grid-area: 2 / 3;
}

.p7{
    grid-area: 3 / 1;
}

.p8{
    grid-area: 3 / 2;
}

.p9{
    grid-area: 3 / 3;
}